{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <title>Diversity Policy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Overpass:800|Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<nav class="navbar">
    <a href="/"><img id="logo" src="{% static 'images/div-pol-logo-black.svg' %}"/></a>
    <a href="#about">About</a>
    <a href="#contribute">Contribute Policy</a>
</nav>
<section id="landing" class="page">
    <div id="inner-landing" class="content">
        <h1>Search for Policy</h1>
        <p>Policy documents from higher education in an expansive and ever-growing database</p>
        <form action="policy/" method="GET" class="form-inline">
            <input type="text" id="s_bar2" name="search" class="form-control"
                   placeholder="Enter keywords here"
                   aria-label="Search" required>
            <button class="btn btn-outline-primary my-2" type="submit">
                <svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10.5" cy="10.5" r="9" stroke="#9D9D9D" stroke-width="3"></circle>
                <rect x="16" y="18.1213" width="3" height="10" rx="1.5" transform="rotate(-45 16 18.1213)"
                      fill="#9D9D9D"></rect>
                </svg>
            </button>
        </form>
        <!--<p id="adv-search"><a>Advanced Search</a></p>-->
    </div>
</section>

<section id="about" class="page">
    <article class="box">
        <img src="{% static 'images/undraw_file_searching_duff.svg' %}"/>
        <div class="content">
            <h2>What is Diversity Policy?</h2>
            <p>Diversity Policy is a database of policy documents and information from colleges and universities in the United States.
                 The service is continually expanding with new policy entries every day.</p>
        </div>
    </article>
    <article id="contribute" class="box">
        <img src="{% static 'images/undraw_collecting_fjjl.svg' %}"/>
        <div class="content">
            <h2>Contribute to Our Database</h2>
            <p>Diversity Policy strives to foster a community of policy researchers and human resource professionals,
            working in tandem to add to a database of policy information with high utility-value.
                For more information on how to get involved, please contact us at: <a href="mailto:info@diversitypolicy.com">info@diversitypolicy.com</a>.</p>
        </div>
    </article>
</section>

<footer>
    © 2020 <a href="/"> Diversity Policy</a>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/search_home.js' %}"></script>
</body>
</html>