:root{
    --beige-gold-light:#ECCCAA;
    --beige-gold-dark:#B99F84;
    --dark-grey:#222;
}

body{
    background:var(--dark-grey);
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
}

/*-- Nav --*/

.navbar{
    width:100vw;
    height:100px;
    background:var(--dark-grey);
    top:0;
    padding:0.5rem 50px 0.5rem 50px;
    z-index:9999;
}

#logo{
    width:20vw;
    margin-top:18%;
}

/*-- Search Bar --*/

svg{
    z-index:9999;
}

svg circle{
    stroke:#fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out
    transition: all 0.2s ease-in-out;
}

svg rect{
    fill:#fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out
    transition: all 0.2s ease-in-out;
}

.form-control{
    border:none;
    border-radius:0.15rem 0 0 0.15rem;
    flex-grow:1;
}

.form-inline{
    width:69%;
    margin-top:4%;
}

.btn{
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:0.03em;
    border-radius:0 0.15rem 0.15rem 0;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active{
    background-color:var(--beige-gold-dark)!important;
    border-color:var(--beige-gold-dark)!important;
}

.btn-outline-primary:hover circle{
    stroke:var(--dark-grey);
}

.btn-outline-primary:hover rect{
    fill:var(--dark-grey);
}

.ui-menu{
    z-index:99999!important;
}

/*-- Results Summary --*/

aside{
    position:-webkit-sticky;
    position:sticky;
    float:left;
    width:25%;
    top:20px;
    margin-right:60px;
}

#rsum{
    background:#fff;
    font-size:16px;
    padding:15px;
    border-radius:0.15rem;
}

#rsum h2{
    font-size:18px;
    font-weight:500;
}

#rsum input{
    margin:2px;
}

.count{
    background:#fff;
    font-weight:400;
    margin-top:-5px;
    padding:15px;
    border-top:1px solid rgba(0, 0, 0, 0.125);
    border-radius:0 0 0.15rem 0.15rem;
}

#rest{
    display:flex;
    margin-top:20px;
}

#rest a{
    color:var(--beige-gold-light);
    font-weight:500;
    padding:5px;
    border:1px solid var(--beige-gold-light);
    border-radius:.15rem;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out
    transition: all 0.1s ease-in-out;
}

#rest a:hover{
    background:var(--beige-gold-dark);
    color:#fff;
    border-color:var(--beige-gold-dark);
    text-decoration:none;
}

/*-- Search Results --*/

.container-fluid{
    padding:4% 50px 0 50px;
    min-height:100vh;
}

.container-fluid:after{
    clear:both;
    content:"";
    display:table;
}

.card{
    margin-bottom:4%;
    width:69%;
    float:right;
    border-radius:0.15rem;
}

.card-header a{
    color:var(--beige-gold-dark);
    font-weight:700;
    text-transform:capitalize;
}

.card h3{
    font-size:1.5rem;
}

.myBtn, .filter{
    background:transparent;
    font-size:0.9em;
    font-weight:500;
    border:1px solid var(--dark-grey);
    border-radius:0.15rem;
    cursor:pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out
    transition: all 0.1s ease-in-out;
}

.myBtn:hover, .filter:hover{
    background:var(--dark-grey);
    color:#fff;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index:99999!important;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: none;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ui-menu .ui-menu-item a{
    font-size: 10px;
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}

.school_name{
    text-transform:capitalize;
}

/*-- Pagination --*/

.pagination {
    text-align: center;
    margin:3em 0;
    clear:both;
}

.pagination-number {
    width:40px;
    height:40px;
    padding: 0.5em 0.3em;
    color: #fff;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out
    transition: all 0.1s ease-in-out;
}

.pagination-number:hover, .pagination-current {
    color: var(--beige-gold-dark);
    text-decoration:none;
}

.pagination-action {
    width: 40px;
    height: 40px;
    display: flex;
    color: #fff;
    font-size: 1.3em;
    align-items:center;
    justify-content:center;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out
    transition: all 0.1s ease-in-out;
}

.pagination-action:hover, .pagination-previous, .pagination-next {
    color:var(--beige-gold-dark);
}

.pagination-action svg{
    margin:0;
}

/*-- Footer --*/

footer{
    background:#111;
    color:#9D9D9D;
    padding:20px;
    text-align:center;
    clear:both;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out
    transition: all 0.1s ease-in-out;
}

footer a{
    color:#9D9D9D;
}

footer a:hover{
    color:var(--beige-gold-dark);
    text-decoration:none;
}