body{
    font-family:'Roboto', sans-serif;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("/static/images/patrick-robert-doyle-1281439-unsplash.084a466f917d.jpg") center/cover fixed;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
}

.navbar{
    justify-content:flex-end!important;
}

.navbar a{
    color:#ECCCAA;
    font-weight:500;
}

#landing{
    width:100vw;
    height:100vh;
}

#landing h1{
    color:#fff;
    font:calc(48px + (100 - 48) * ((80vw - 300px) / (1920 - 300))) 'Overpass', sans-serif;
    line-height:calc(48px + (100 - 48) * ((80vw - 300px) / (1920 - 300)));
}

#hcontent{
    width:80vw;
    height:30%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding:10px;
}

#hcontent p{
    font-size:calc(16px + (24 - 16) * ((80vw - 300px) / (1920 - 300)));
}

footer{
    background:#222;
    color:#9D9D9D;
    padding:20px;
    text-align:center;
}

footer a{
    color:#9D9D9D;
}