body{
    font-family: 'Roboto', sans-serif;
}

#landing{
    width:100vw;
    height:100vh;
    background:url("/static/images/patrick-robert-doyle-1281439-unsplash.084a466f917d.jpg");
    background-size:cover;
}